In [1]:
import pandas as pd
import numpy as np
import os
from pprint import pprint

In [2]:
#Задание №1
data = pd.read_csv(os.getcwd() + '/ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
data[data['rating'] == 5.0][['movieId', 
                             'rating']].groupby(['movieId']).count().sort_values(by='rating', 
                                                                                 ascending=False)

         rating
movieId
318         153
296         123
356         116
2571        109
260         104
...         ...
6732          1
6731          1
6713          1
2066          1
187717        1

[2954 rows x 1 columns]

In [4]:
#Задание №2
data = pd.read_csv(os.getcwd() + '/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
#v1
data[((data['country'] == 'Latvia')|(data['country'] == 'Estonia')|(data['country'] == 'Lithuania'))
     & ((data['category'] == 4)|(data['category'] == 12)|(data['category'] == 21))
     & ((data['year'] >= 2005)|(data['year'] <= 2010))
     & (data['quantity'] >= 0.0)]['quantity'].sum()

970728.0

In [7]:
#v2
data[data['country'].isin(['Latvia', 'Estonia', 'Lithuania'])
    & data['category'].isin([4, 12, 21])
    & ((data['year'] >= 2005)|(data['year'] <= 2010))
    & (data['quantity'] >= 0.0)]['quantity'].sum()

970728.0

In [10]:
#Задание №3
#page_url = 'https://cbr.ru/currency_base/daily/'
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
data = pd.read_html(page_url, thousands='', encoding='utf-8')
data[1].info()
data[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   Рубль                36 non-null     object
 2   Предложение          36 non-null     object
 3   Спрос                36 non-null     object
 4   Предыдущее закрытие  36 non-null     object
 5   %                    36 non-null     object
 6   Абсолютное значение  36 non-null     object
 7   Время                36 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.4+ KB

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,"103,1598",-,"104,0238","-0,83 %","-0,8640",21:50:00
1,NaN,EUR/RUB,"89,5830",-,"89,8155","-0,26 %","-0,2325",21:43:00
2,NaN,USD/RUB,"74,3061",-,"74,8095","-0,67 %","-0,5034",21:43:00
3,NaN,JPY/RUB,"0,6813",-,"0,6850","-0,54 %","-0,0037",21:50:00
4,NaN,CNY/RUB,"11,4923",-,"11,5554","-0,55 %","-0,0631",21:50:00
5,NaN,CHF/RUB,"81,7637",-,"81,9242","-0,20 %","-0,1605",21:50:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,"1,2058",-,"1,2007","0,42 %","0,0051",21:43:00
8,NaN,EUR/GBP,"0,8682",-,"0,8635","0,55 %","0,0048",21:43:00
9,NaN,EUR/JPY,"131,4480",-,"131,1300","0,24 %","0,3180",21:43:00
10,NaN,EUR/CHF,"1,0957",-,"1,0962","-0,05 %","-0,0005",21:43:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,"0,8294",-,"0,8329","-0,42 %","-0,0035",21:42:00
13,NaN,USD/GBP,"0,7202",-,"0,7191","0,15 %","0,0011",21:43:00
14,NaN,USD/JPY,"109,0320",-,"109,2050","-0,16 %","-0,1730",21:43:00
15,NaN,USD/CHF,"0,9086",-,"0,9131","-0,49 %","-0,0045",21:43:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),"0,7600",-,"0,7600","-0,28 %","0,0000",21:50:00
18,NaN,JPY/GBP,"0,0066",-,"0,0066","0,29 %","0,0000",21:50:00
19,NaN,JPY/USD,"0,0092",-,"0,0092","0,15 %","0,0000",21:50:00
20,NaN,JPY/CHF (100:1),"0,8300",-,"0,8400","-0,32 %","0,0000",21:50:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,"1,3886",-,"1,3907","-0,15 %","-0,0021",21:50:00
23,NaN,GBP/JPY,"151,4074",-,"151,8535","-0,29 %","-0,4461",21:50:00
24,NaN,GBP/EUR,"1,1519",-,"1,1582","-0,54 %","-0,0063",21:50:00
25,NaN,GBP/CHF,"1,2618",-,"1,2694","-0,59 %","-0,0075",21:50:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,"1,2618",-,"1,2694","-0,59 %","-0,0075",21:50:00
28,NaN,EUR/CHF,"1,0957",-,"1,0962","-0,05 %","-0,0005",21:43:00
29,NaN,JPY/CHF (100:1),"0,8300",-,"0,8400","-0,32 %","0,0000",21:50:00
30,NaN,USD/CHF,"0,9086",-,"0,9131","-0,49 %","-0,0045",21:43:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,"33,4624",-,"33,3044","0,47 %","0,1580",21:49:00
33,NaN,USD/UAH,"27,7501",-,"27,7387","0,04 %","0,0114",21:41:00
34,NaN,CHF/UAH,"30,5416",-,"30,3786","0,54 %","0,1630",21:50:00
35,NaN,GBP/UAH,"38,5337",-,"38,5734","-0,10 %","-0,0397",21:50:00