# Домашнее задание к лекции "Статистика. Практика"

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('vgsales.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [4]:
#1) Как критики относятся к спортивным играм?

#H0 - средняя экспертная оценка игр спортивной тематики <= 80 баллов
#H1 - средняя экспертная оценка игр спортивной тематики > 80 баллов
#уровень значимости определим 0.05

In [5]:
sports = data[data['Genre']=='Sports'].copy()
sports.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [6]:
import scipy.stats as stats

alpha = 0.05
t, p= stats.ttest_1samp(sports['Critic_Score'], 80, alternative='greater')

print(sports['Critic_Score'].mean())
print(f't: {t}, p-value: {p}')

if p < alpha: 
    print('Отвергаем нулевую гипотезу, среднее больше 80 (спортивные игры нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, среднее меньше или равно 80 (спортивные игры НЕ нравятся)')

71.96817420435511
t: -19.99751475320892, p-value: 1.0
Не отвергаем нулевую нулевую гипотезу, среднее меньше или равно 80 (спортивные игры НЕ нравятся)

In [7]:
#2) Критикам нравятся больше игры на PC или на PS4?

#H0 - средняя экспертная оценка игр на PC и PS4 не отличается
#H1 - средняя экспертная оценка игр на PC и PS4 отличается
#уровень значимости определим 0.05

In [8]:
pc = data[data['Platform']=='PC'].copy()
ps4 = data[data['Platform']=='PS4'].copy()
pc.dropna(subset = ['Critic_Score'], axis=0, inplace=True)
ps4.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [9]:
t, p = stats.ttest_ind(pc['Critic_Score'], ps4['Critic_Score'], equal_var=False)
print(f't: {t}, p-value: {p}')
print(f'Средние значения PC: {pc["Critic_Score"].mean()}, PS4: {ps4["Critic_Score"].mean()}')

if (p < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4')
    if pc["Critic_Score"].mean() > ps4["Critic_Score"].mean():
        print('Критикам больше нравятся игры на PC')
    elif pc["Critic_Score"].mean() < ps4["Critic_Score"].mean():
        print('Критикам больше нравятся игры на PS4')
else:
    print('Не отвергаем нулевую гипотезу')

t: 4.3087588262138725, p-value: 2.067249157283479e-05
Средние значения PC: 75.92867132867133, PS4: 72.09126984126983
Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4
Критикам больше нравятся игры на PC

In [10]:
#3) Критикам больше нравятся стрелялки или стратегии?

#H0 - средняя экспертная оценка стрелялок и стратегий не отличается
#H1 - средняя экспертная оценка стрелялок и стратегий отличается
#уровень значимости определим 0.05

In [11]:
shooter = data[data['Genre']=='Shooter'].copy()
strategy = data[data['Genre']=='Strategy'].copy()
shooter.dropna(subset = ['Critic_Score'], axis=0, inplace=True)
strategy.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [12]:
t, p = stats.ttest_ind(shooter['Critic_Score'], strategy['Critic_Score'], equal_var=False)
print(f't: {t}, p-value: {p}')
print(f'Средние значения "стрелялки": {shooter["Critic_Score"].mean()}, "стратегии": {strategy["Critic_Score"].mean()}')

if (p < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям')
    if shooter["Critic_Score"].mean() > strategy["Critic_Score"].mean():
        print('Критикам больше нравятся стрелялки')
    elif shooter["Critic_Score"].mean() < strategy["Critic_Score"].mean():
        print('Критикам больше нравятся стратегии')
else:
    print('Не отвергаем нулевую гипотезу')

t: -2.2972408230640315, p-value: 0.021938989522304823
Средние значения "стрелялки": 70.18114406779661, "стратегии": 72.08609271523179
Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям
Критикам больше нравятся стратегии

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);  
7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [172]:
data = pd.read_csv('spam.csv')
data_copy = data.copy()
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [173]:
data['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [174]:
def category_coding(category):
    if category == 'ham': return 0
    elif category == 'spam': return 1
    else: return None

data['Category'] = data['Category'].apply(category_coding)

In [175]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

#предобработка текста сообщений
def text_processing(text, stopwords_set, lemmatizer):  
    text_lower = re.sub('[\W_]+',' ', text.lower())
    text_splitted = text_lower.split(' ')[:-1]
    text_without_stopwords = [word for word in text_splitted if word not in stopwords_set]
    lemmatized_text = [lemmatizer.lemmatize(word) for word in text_without_stopwords]
    return ' '.join(lemmatized_text)

stopwords_set = set(stopwords.words('english'))
wordnet_lemmatizer = WordNetLemmatizer()
data['Message'] = data['Message'].apply(text_processing, 
                                        stopwords_set = stopwords_set, 
                                        lemmatizer = wordnet_lemmatizer)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ivanpetrov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/ivanpetrov/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [176]:
from sklearn.feature_extraction.text import TfidfVectorizer

#преобразование сообщений в вектора TF-IDF
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['Message'])
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [177]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zero,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [178]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#подготовка массивов для проведения процедуры логистической регрессии
Y = data['Category']
X = tfidf_matrix.copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state=42)

In [179]:
#LDA
#строю модель и предсказываю
lr = LogisticRegression(random_state=42)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(f'предсказание: {y_pred}, точность: {lr.score(X_test, y_test)}')
print(f'матрица ошибок:\n {confusion_matrix(y_test, y_pred)}')

предсказание: [0 0 0 ... 0 1 0], точность: 0.9581339712918661
матрица ошибок:
 [[1445    3]
 [  67  157]]

In [180]:
#расшифровка матрицы ошибок
# 1445 - предсказано "0", на самом деле "0"
# 157 - предсказано "1", на самом деле "1"
# 67 - предсказано "1", на самом деле "0"
# 3 - предсказано "0", на самом деле "1"

In [181]:
#точность
print(y_test.value_counts()) #классы не равны ("0" сильно больше), поэтому, "score" не работает

#воспользуемся метриками Precision, recall и F-мера
report = classification_report(y_test, y_pred, target_names=['ham', 'spam'])
print(report)

#precision (точность) - доля объектов, определенных моделью верно
#recall (полнота) - доля объектов класса, которую нашел алгорим
#f1-score - аггрегированный показатель качества модели

0    1448
1     224
Name: Category, dtype: int64
              precision    recall  f1-score   support

         ham       0.96      1.00      0.98      1448
        spam       0.98      0.70      0.82       224

    accuracy                           0.96      1672
   macro avg       0.97      0.85      0.90      1672
weighted avg       0.96      0.96      0.96      1672

In [220]:
#Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно 
#(с указанием фактического и предсказанного).
df = pd.DataFrame(y_test)
df['pred_Category'] = y_pred
df_not_equal = df[df['Category'] != df['pred_Category']]
df_not_equal.merge(data_copy['Message'], how = 'left', left_index = True, right_index = True)

,Category,pred_Category,Message
2952,0,1,Hey now am free you can call me.
881,1,0,Reminder: You have not downloaded the content ...
1961,1,0,Guess what! Somebody you know secretly fancies...
3864,1,0,Oh my god! I've found your number again! I'm s...
2575,1,0,Your next amazing xxx PICSFREE1 video will be ...
...,...,...,...
191,1,0,Are you unique enough? Find out from 30th Augu...
4543,1,0,FreeMsg Hi baby wow just got a new cam moby. W...
752,1,0,You have an important customer service announc...
495,0,1,Are you free now?can i call now?
305,1,0,SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...